{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <div class="container">
    <h1>Oh, Tanenbaum</h1>
    <p>
      <form action="/narisi/" method="post">
          {% csrf_token %}
          <label for="visina">Višina smrečice: </label>
          <input id="visina" type="text" name="visina" value="{{ visina }}">
          <input type="submit" value="Riši">
      </form>
    </p>
  </div>
{% endblock %}